body {
    margin: 0px;
    padding: 0px;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.wrapper {
    width: 100%;
    margin: 10% 0 10% 30%;
}

.calculator {
     
  /* width: 60%;*/
}

.history-table {
   /* width: 40%;*/
}

.calculator-container {
    float: left;
    height: 350px;
    width: 350px;
}

.previous-value {
    color: grey;
    text-align: right;
    padding-bottom: 10px;
}

.screen,
#operation--equal {
    padding: 0px;
    width: 346px;
    height: 68px;
    background-color: white;
    border: 2px solid black;
}

#calculator-screen {
    padding: 0px;
    width: 342px;
    font-size: 30px;
    text-align: right;
    border: 0px
}

#operation--equal {
    width: 350px;
    font-size: 25px;
    text-align: center;
}

.calculator-actions-container {
    display: grid;
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 350px;
    height: 213px;
    grid-template-columns: repeat(5, 1fr);
}

#operation--reset,
#operation--backup,
#operation--minus,
#operation--division,
#operation--plus,
#operation--multiplicaiton,
.action--data-number {
    padding: 0px;
    width: 70px;
    height: 71px;
    font-size: 25px;
    text-align: center;
    background-color: #dae8fc;
    border: 2px solid #6c8ebf;
}

#operation--reset,
#operation--backup {

    border: 2px solid #b85450;
    background-color: #f8cecc;
}

#operation--minus,
#operation--division,
#operation--plus,
#operation--multiplicaiton,
#operation--equal {

    border: 2px solid #d79b00;
    background-color: #ffe6cc;
}

.history-container {
    float: right;
    /*margin: 0% 53.95% 10% 0%;*/
}

.history {
    display: inline;
    height: 353px;
    width: 140px;
    font-size: 24px;
    border: 2px solid #b298be;
    background-color: #e1d5e7;
}

.history-table {
    display: none;
}