body {
    margin: 0px;
    padding: 0px;
}

.calculator-container {
    float: left;
    margin: 10% 0 10% 30%;
    height: 350px;
    width: 350px;
}


.previous-value {
    display: none;
}

#calculator-screen,
#operation--equal {
    padding: 0px;
    width: 346px;
    height: 68px;
    text-align: right;
    font-size: 30px;
    background-color: white;
    border: 2px solid black;
}

#operation--equal {
    width: 350px;
    font-size: 25px;
    text-align: center;
}

.calculator-actions-container {
    display: grid;
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 350px;
    height: 213px;
    grid-template-columns: repeat(5, 1fr);
}

#operation--reset,
#operation--backup,
#operation--minus,
#operation--division,
#operation--plus,
#operation--multiplicaiton,
.action--data-number {
    padding: 0px;
    width: 70px;
    height: 71px;
    font-size: 25px;
    text-align: center;
    background-color: #dae8fc;
    border: 2px solid #6c8ebf;
}

#operation--reset,
#operation--backup {

    border: 2px solid #b85450;
    background-color: #f8cecc;
}

#operation--minus,
#operation--division,
#operation--plus,
#operation--multiplicaiton,
#operation--equal {

    border: 2px solid #d79b00;
    background-color: #ffe6cc;
}

.history {
    float: left;
    margin: 10% 37.48% 10% 0%;
    height: 200px;
    width: 140px;
    padding-top: 150px;
    font-size: 24px;
    text-align: center;
    border: 2px solid #b298be;
    background-color: #e1d5e7;
}