body {
    margin           : 0px;
    padding          : 0px;
    margin-left      : 29%;
    margin-top       : 6%;
    background-color : #f2f3f5;
}

header {
    padding-top      : 42px;
}

ul {
    display          : inline;
    margin-right     : 134px;
    padding-left     : 0px;
}

li {
    display         : inline;
    margin-left     : 60px;
    font-size       : 10px;
    font-weight     : 600;
    font-family     : Arial, Helvetica, sans-serif;
    color           : #797c8b;
}

.wrapper {
    width            : 665px;
    height           : 454px;
    box-shadow       : #e7e8ec 0px 2px 4px 0px,
                       #e7e8ec 0px 2px 16px 0px;
    background-color : white;
}

.navigation-first-element {
    margin-left     : 49px;
}

.separator {
    float            : left;
    width            : 41px;
    margin-left      : 49px;
    border           : 1px solid  #5fffe7;
    background-color :  #5fffe7;
}

.date {
    display         :inline;
    font-size       : 10px;
    font-family     : Arial, Helvetica, sans-serif;
    color           :#b9bcc5 ;
}

.year {
    float           : right;
    margin-left     : 111px;
    margin-top      : 10px;
    margin-right    : 36px;
    font-weight     : 600;
    font-size       : 10px;
    font-family     : Arial, Helvetica, sans-serif;
    color           : #72778b;
}

.degree-statistic {
    display            : inline-block ;
    width              : 140px;
    height             : 140px;
    margin-top         : 60px;
    margin-left        : 235px;
    border             : 6px  solid #5fffe7;
    border-radius      : 50%;
}

.temperature {

    display         : inline-block;
}

.degree {
   float            : left;
   color            : #707789;
   font-size        : 55px;
   margin-top       : 45px;
   margin-left      : 6px;
   padding-left     : 34px;
   font-family      : Arial, Helvetica, sans-serif;
}

#circle-icon {
  float             : right;
  padding-top       : 34px;
  padding-right     : 11px;
  margin-right      : 11px;
  margin-top        : 16px;
}

#thermometer {
    float          : right;
    margin-top     : 153px;
    margin-right   : 46px;
    color          : #5fffe7;
    border-color   : #e3e3ed;
}


.bold-title {
    font-family     : Arial, Helvetica, sans-serif ;
    font-size       : 16px;
    color           : #8b919f;
    margin-left     : 244px;
    margin-top      : 20px;
}

.title {
    color           : #b9bcc5;
    font-family     : Arial, Helvetica, sans-serif;
}

.footer-left-side {
    float           :left ;
    margin-top      : 20px;
    margin-left     : 46px;
}

.fontawesome-container {
    float               : left;
    margin-left         : 30px;
    width               : 30px;
    height              : 30px;
    border              : 1px  solid white;
    box-shadow          : #e7e8ec 0px 2px 4px 0px,
                          #e7e8ec 0px 2px 16px 0px;
    border-radius       : 50%;

}

#icon-light {
    margin-left     : 9px;
    margin-top      : 7px;
}

#fontawesome-container {
    border             : 1px  solid #e6e9f0;
    box-shadow         : #e7e8ec 0px 2px 4px 0px,
                         #e7e8ec 0px 2px 16px 0px;
   background-color    : #e6e9f0;
   border-radius       : 50%;
   width               : 30px;
   height              : 30px;
   float               : left;
   margin-left         : 30px;
}

.bold-description {
    float           : right;
    margin-top      : 24px;
    margin-left     : 13px;
    font-family     : Arial, Helvetica, sans-serif;
    font-size       : 10px;
    color           : #82879a;

}

.description {
    float           : right;
    padding-left    : 6px;
    margin-right    : 36px;
    color           : #b9bcc5;
}

.footer-right-side {
    float           :right;
    margin-top      : 20px;

}

#icon-lock {
    margin-left     : 9px;
    margin-top      : 7px;
    color           : #72778b;
}





  