body {
    margin           : 0px;
    padding          : 0px;
    background-color : #f2f3f5;
}

.wrapper {
    width            : 665px;
    height           : 454px;
    box-shadow       : #e7e8ec 0px 2px 4px 0px,
                       #e7e8ec 0px 2px 16px 0px;
    background-color : white;
    margin-left      : 10%;
    margin-top       : 2%;
}
header {
    padding-top      : 42px;
}

ul {
    display          : inline;
    margin-right     : 134px;
    padding-left     : 0px;
}

li {
    display         : inline;
    font-family     : Arial, Helvetica, sans-serif;
    color           : #797c8b;
    margin-left     : 60px;
    font-size       : 10px;
    font-weight     : 600;
}

.first {
    margin-left     : 49px;
}


.line {
    float            : left;
    width            : 41px;
    border           : 1px solid  #5fffe7;
    background-color :  #5fffe7;
    margin-left      : 49px;
}



.date {
    color           :#b9bcc5 ;
    display         :inline;
    font-family     : Arial, Helvetica, sans-serif;
    font-size       : 10px;
}

.year {
    color           : #72778b;
    font-weight     : 600;
    font-family     : Arial, Helvetica, sans-serif;
    font-size       : 10px;
    margin-left     : 111px;
    margin-right    : 36px;
    float           : right;
    margin-top      : 10px;
}

.temperature {

    display         : inline-block;
}

.degree {
   float            : left;
   color            : #707789;
   font-size        : 55px;
   margin-top       : 45px;
   margin-left      : 6px;
   padding-left     : 34px;
   font-family      : Arial, Helvetica, sans-serif;
}

#circle {
  float             : right;
  padding-top       : 34px;
  padding-right     : 11px;
  margin-right      : 11px;
  margin-top        : 16px;
}

#thermometer {
    color          : #5fffe7;
    border-color   : #e3e3ed;
    float          : right;
    margin-top     : 153px;
    margin-right   : 46px;
}

.transperant {
    border             : 6px  solid #5fffe7;
    border-radius      : 50%;
    width              : 140px;
    height             : 140px;
    margin-top         : 60px;
    margin-left        : 235px;
   display             :inline-block ;
}

.temp {
    color           : #b9bcc5;
    font-family     : Arial, Helvetica, sans-serif;
}

.header {
    font-family     : Arial, Helvetica, sans-serif ;
    font-size       : 16px;
    color           : #8b919f;
    margin-left     : 244px;
    margin-top      : 20px;
}




.description {
    font-family     : Arial, Helvetica, sans-serif;
    font-size       : 10px;
    /*display         : inline;*/
    float           : right ;
    color           : #82879a;
    margin-top      : 24px;
    margin-left     : 13px;

}

.parent {
    border             : 1px  solid white;
    box-shadow         : #e7e8ec 0px 2px 4px 0px,
                         #e7e8ec 0px 2px 16px 0px;
    border-radius      : 50%;
   /* display            : inline;*/
   width               : 30px;
   height              : 30px;
   float               : left;
    margin-left        : 30px;
}

.footer {
    color           : #b9bcc5;
    float           : right;
    padding-left    : 6px;
    margin-right    : 36px;
}

.left {
    float           :left ;
    margin-top      : 20px;
    margin-left     : 46px;
}

.right {
    float           :right ;
    margin-top      : 20px;

}
#icon-light {
    margin-left     : 9px;
    margin-top      : 7px;
}

#icon-lock {
    margin-left     : 9px;
    margin-top      : 7px;
    color           : #72778b;
}


#parent {
    border             : 1px  solid #e6e9f0;
    box-shadow         : #e7e8ec 0px 2px 4px 0px,
                         #e7e8ec 0px 2px 16px 0px;
   background-color    : #e6e9f0;
   border-radius       : 50%;
   width               : 30px;
   height              : 30px;
   float               : left;
   margin-left         : 30px;
}