body {
    margin                 :0px;
    padding                : 0px;
    background-color       : #a1a8b3;
}

strong {
    color                  : #b4842d;
}

.wrapper {
    width                  : 720px;
    height                 : 464px;
    margin-left            : 25%;
    margin-top             : 5%;
    box-shadow             : 20px 20px 50px 15px #818397;
}

.text-to-translate-container {
    float                     : left;
    width                     : 360px;
    height                    : 464px;
    background-color          : #223943;

}

.text-to-translate-container-header {
    width                        : 360px;
    height                       : 75px;
    background-color             : #2a3f49 ;
}

.back-to-dashboard-container {
    float                        : left;
    margin-top                   : 13px;
    margin-left                  : 20px;
    margin-right                 : 160px;
    font-size                    : 7px;
    font-family                  : Arial, Helvetica, sans-serif;
    color                        : #485a62;
}

.translation-options-icons-container {
    float                        : right;
    margin-right                 : 20px;
    margin-bottom                : 0px;
    font-size                    : 12px;
    color                        : #607176;
}

#translation-option-icon {
    margin-right               : 14px;
}

.translation-options-check-circle-icon-container {
    float                          : right;
    margin-top                     : 0px;
    margin-right                   : 25px;
    font-size                      : 7px;
}

#check-icon {
    margin-right                  : 14px;
}

#check-icon-blue-color {
    margin-right                  : 14px;
    color                         : #4cb8e9;
}

.language-to-translate {
    margin                         : 0px;
    margin-left                    : 30px;
    padding-top                    : 34px;
    font-size                      : 5px;
    font-family                    : Arial, Helvetica, sans-serif ;
    color                          : #5a6b71;
}

.title {
    float                          : left;
    margin-top                     : 5px;
    margin-left                    : 23px;
    margin-right                   : 70px;
    font-size                      : 16px;
    font-family                    : 'Franklin Gothic Medium', sans-serif ;
    color                          : #99a3a8;
}

.words-to-translate-counter {
    float                          : right;
    margin                         : 0px;
    margin-top                     : 5px;
    padding-left                   : 14px;
    padding-right                  : 34px;
    font-size                      : 8px;
    color                          : #5a6b71;


}

.text-to-translate {
    width                            : 290px;
    height                           : 320px ;
    margin                           : 25px 35px 30px 35px;
    font-size                        : 10.9px;
    font-family                      : 'Times New Roman', Times, serif
}

.text-to-translate-first-paragraph, 
.text-to-translate-second-paragraph {

    line-height          : 1.7;
    color                : #99a3a8;
}
.text-to-translate-second-paragraph {
   padding-top           : 10px;
   margin-top            : 0px;
}


.translated-text-container {
    float                     : right;
    width                     : 360px;
    height                    : 464px;
    background-color          : white;
}

.translated-text-options-container {
    margin-bottom                  : 0px;
    text-align                     : right;
}

#pencil-icon, #settings-icon {
    margin-left                : 10px;
    font-size                  : 12px;
    color                      : #c3caca;
}

#ellipsis-icon {
    margin-left                : 10px;
    margin-right               : 20px;
    font-size                  : 12px;
    color                      : #c3caca;
}

.language-of-translation {
    display                        : inline;
    margin                         : 0px;
    margin-left                    : 30px;
    margin-top                     : 35px;
    margin-right                   : 240px;
    font-size                      : 9px;
    font-weight                    : 600;
    font-family                    : Arial, Helvetica, sans-serif ;
    color                          : #c3caca;

}

.translated-title {
    display                        : inline;
    margin-top                     : 45px;
    margin-left                    : 30px;
    font-size                      : 16px;
    font-family                    : 'Franklin Gothic Medium', sans-serif ;
    color                          : #99a3a8;
}

.translated-words-counter {
    float                          : right;
    margin-top                     : 0px;
    margin-right                   : 18px;
    font-size                      : 8px;
    color                          : #99a3a8;

}

.translated-text {
    width                            : 290px;
    height                           : 320px ;
    margin                           : 25px 35px 30px 35px;
    font-size                        : 10.9px;
    font-family                      : 'Times New Roman', Times, serif
}

.translated-text-first-paragraph, 
.translated-text-second-paragraph {

    line-height          : 1.7;
    color                : #99a3a8;
}
.translated-text-second-paragraph {
   padding-top           : 10px;
   margin-top            : 0px;
}
