body {
    margin                 : 0px;
    padding                : 0px;
    background             : #eaeff8;
}

ul {
    margin-top             : 20px;
    padding-left           : 0px;
}

li {
    float                   : left;
     list-style             : none;
     margin-top             : 30px;
     margin-right           : 36px;
     color                  : #425466;
}

span {
    margin-right            : 20px;
    font-size               : 12px;
    font-family             : Arial, Helvetica, sans-serif;
}

 .wrapper {
    width                  : 1400px;
    height                 : 700px;
    margin-left            : 5%;
    background             : linear-gradient( #e5ebf5,
    #eaeff8);
 }

 .left-sidebar-container {
    float                   : left;
    width                   : 230px;
    height                  : 740px;
    background-color        : #eaeff8;
}

.left-sidebar {
    float                  : left;
    width                  : 200px;
    height                 : 670px;
    margin                 : 0px;
    margin-left            : 90px;
    margin-top             : 30px;
    padding                : 0px;
    border-radius          : 25px 0px 0px 25px;
    background-color       : white;
}

.lightning-bolt-bars-container {
    float                  : left;
    width                  : 40px;
    height                 : 35px;
    margin-left            : 30px;
    margin-top             : 30px;
    text-align             : center;
    border-radius          : 10px 10px 10px 10px;
    background             : linear-gradient(#c067ff,
                                             #606eff);
}

.lightning-bolt-bar-icons {
    margin-top                : 20px;
}
#bars-icon, #leghtning-bold-icon {
    font-size                  : 14px;
    color                      : white;
}

#leghtning-bold-icon {
    margin-top                : 10px;
}

.title {
    float                       : right;
    margin-top                  : 33px;
    margin-right                : 65px;
    font-weight                 : 800;
    font-family                 : Arial, Helvetica, sans-serif;
    background                  : -webkit-linear-gradient(#c067ff,
                                                          #606eff);
    -webkit-background-clip     : text;
    -webkit-text-fill-color     : transparent;
  }

.navigation i {
    margin-right        : 10px;
    margin-left         : 30px;
    color               : #a0aec0;
}

.navigation-message {
    margin-right         :  0px;
    color                : #4c6fff;

}

.selected-line {
    float                 : left;
    height                : 20px;
    border-left           : 2px solid #4c6fff;
}

#navigation-message-icon {
    color                : #4c6fff;
    margin-left          : 7px;
}

.message-count {
    float                 : right;
    width                 : 30px;
    height                : 20px;
    margin                : 0px;
    margin-left           : 20px;
    border-radius         : 10px 10px 10px 10px;
    text-align            : center ;
    font-weight           : 800;
    font-family           : 'Times New Roman', Times, serif;
    background-color      : #e1e8ff;
    
}

.separator {
    float                  : left;
    width                  : 140px;
    margin-top             : 40px;
    margin-left            : 30px;
    margin-right           : 30px;
    border                 : 1px solid #edf2f7;
    background-color       : #edf2f7 ;

}

.navigation-notifications {
    margin-right         : 0px;
}

.notification-count {
    float                 : right;
    width                 : 30px;
    height                : 20px;
    margin                : 0px;
    margin-left           : 20px;
    border-radius         : 10px 10px 10px 10px;
    text-align            : center ;
    font-weight           : 800;
    font-family           : 'Times New Roman', Times, serif;
    background-color      : #ffe6e4;
    color                 : #f26b6d;
}



.right-side {
    float                          : right;
    margin                         : 0px;
    padding                        : 0px;
    width                          : 1100px;
    background-color               : #e1e8f2;
    border-radius                  : 0px 0px 20px 0px;
}

.top-sidebar {
    float                  : right;
    width                  : 1079px;
    height                 : 100px;
    margin                 : 0px;
    margin-top             : 30px;
    margin-right           : 30px;
    padding                : 0px;
    border-radius          : 0px 25px 0px 0px;
    background-color       : white;
}

.navigation-top-sidebar-title {
    float                  : left;
    margin-top             : 30px;
    margin-left            : 30px;
    margin-bottom          : 0px;
    font-size              : 22px;
    font-family            : Arial, Helvetica, sans-serif;

}

.navigation-top-sidebar-edit-create-buttons {
    float                    : right;
    margin-right             : 30px;
    margin-top               : 27px;
    font-family              : Arial, Helvetica, sans-serif;
}

.edit-button {
    display                  : inline;
    width                    : 70px;
    height                   : 30px;
    margin-right             : 4px;
    border                   : 1px  solid #edf2f7;
    border-radius            : 7px 7px 7px 7px;
    background-color         : white;
    
}

.create-button {
    display                  : inline;
    width                    : 100px;
    height                   : 30px;
    border                   : 1px  solid #4c6fff;
    border-radius            : 7px 7px 7px 7px;
    background-color         : #4c6fff;
    color                    : white;
}

.top-sidebar-categories {
    margin                   : 0px;
    margin-left              : 30px;
    padding-top              : 65px;
}

.bold-overview-category {
    font-weight               : 600;
}

.users-category, .settings-category {
    font-weight                : 300;
    color                      : #718096;
}

.navigation-top-sidebar-selected-category {
    float                  : left;
    width                  : 51px;
    margin-top             : 15px;
    margin-left            : 29px;
    margin-right           : 30px;
    border                 : 0.2px solid #4c6fff;
    background-color       : #4c6fff ;
}

.security-container {
    float                 : left;
    margin-left           : 0px;
}
.authentication-container {
    width                  : 700px;
    height                 : 254px;
    margin                 : 0px;
    margin-top             : 4%;
    margin-left            : 4%;
    padding                : 0px;
    border-radius          : 10px 10px 10px 10px;
    box-shadow             : 2px 2px 5px #dfe3e9;
    background-color       : white;
}

.password-container {
    width                  : 700px;
    height                 : 254px;
    margin                 : 0px;
    margin-top             : 5%;
    margin-left            : 4%;
    padding                : 0px;
    border-radius          : 10px 10px 0px 0px;
    box-shadow             : 2px 2px 5px #dfe3e9;
    background-color       : white;
}


.logo-container {
    float                   : left;
    width                   : 50px;
    height                  : 50px;
    margin-left             : 23px;
    text-align              : center;
    border-radius           : 50%;
    background-color        : #ff92ae;
}

#laptop-icon {
    margin-top               : 15px;
    color                    : white;
}

.right-sidebar {
    float                  : right;
    width                  : 270px;
    height                 : 480px;
    margin                 : 0px;
    margin-right           : 60px;
    padding                : 0px;
    margin                 : 3% 60px 5% 2%;
    border-radius          : 10px 10px 10px 10px;
    background-color       : white;
}

.right-sidebar-title {
    margin-bottom             : 0px;
    margin-left               : 27px;
    padding-top               : 64px;
    font-family               : Arial, Helvetica, sans-serif;

}

.right-sidebar-description {
    margin                    : 0px;
    margin-left               : 27px;
    font-size                 : 12px;
    font-family               : Arial, Helvetica, sans-serif;
    color                     : #536474;
}

.sign-out-button {
    width               : 130px;
    height              : 30px;
    margin-top          : 18px;
    margin-left         : 27px;
    font-size           : 10px;
    text-align          : center;
    border-radius       : 6px 6px 6px 6px;
    color               : white;
    border              : 0px;
    background-color    : #4c6fff;
}

.devices-separator {
    width                : 200px;
    margin-top           : 3px;
    margin-bottom        : 0px;
    border               : 0.5px solid #eff3f8;
    color                : #eff3f8;
}

.divice-left-side {
    float                  : left;
    margin-left            : 20px;

}


.divice-title {
    float                  : left;
    margin                 : 0px;
    margin-left            : 12px;
    margin-top             : 14px;
    font-size              : 10px;
    font-family            : Arial, Helvetica, sans-serif;
}

#ellipsis-icon {
    float                  : right;
    margin-right           : 26px;
    font-size              : 14px;
    
}

.divice-description {
    margin                  : 0px;
    margin-top              : 27px;
    padding-left            : 42px;
    font-size               : 8px;
    font-family             : Arial, Helvetica, sans-serif;
    color                   : #8290a3;
}

.help-button {
    width                  : 230px;
    height                 : 30px;
    margin-top             : 10px;
    margin-left            : 20px;
    border                 : 0px;
    border-radius          : 6px 6px 6px 6px;
    background-color       : #e4ecf7;
}