body {
    margin                 : 0px;
    padding                : 0px;
}

span {
    margin-right            : 20px;
    font-size               : 12px;
    font-family             : Arial, Helvetica, sans-serif;
}

.left-container {
    float             : left;
    width             : 20%;
    height            : 770px;
    margin            : 0px;
    padding           : 0px;
    background-color  : #eaeff8;
}

.left-sidebar {
    float             : left;
    width             : 400px;
    height            : 710px;
    margin            : 0px;
    margin-left       : 70px;
    margin-top        : 20px;
    padding           : 0px;
    border-radius     : 25px 0px 0px 25px;
    box-shadow        : 10px 10px 40px 10px #edf2f7;
    background-color  : white;  
}

.lightning-bolt-bars-container {
    float                  : left;
    width                  : 40px;
    height                 : 35px;
    margin                 : 0px;
    margin-left            : 30px;
    margin-top             : 30px;
    text-align             : center;
    border-radius          : 10px 10px 10px 10px;
    background             : linear-gradient(#c067ff,
                                             #606eff);
}

#bars-icon, #leghtning-bold-icon {
    font-size                  : 14px;
    color                      : white;
}

#leghtning-bold-icon {
    margin-top                : 10px;
}

.title {
    float                       : right;
    margin                      : 0px;
    margin-top                  : 37px;
    margin-left                 : 5px;
    font-weight                 : 800;
    margin-right                : 260px;
    font-family                 : Arial, Helvetica, sans-serif;
    background                  : -webkit-linear-gradient(#c067ff,
                                                          #606eff);
    -webkit-background-clip     : text;
    -webkit-text-fill-color     : transparent;
  }

  .navigation {
    margin-top             : 20px;
    padding-left           : 0px;
  }

  .navigation li {
    float                  : left;
    list-style             : none;
    margin-top             : 30px;
    margin-right           : 200px;
    color                  : #425466;
}

.navigation i {
    margin-right        : 10px;
    margin-left         : 30px;
    color               : #a0aec0;
}

.navigation-message {
    margin-right         :  0px;
    color                : #4c6fff;

}

.selected-line {
    float                 : left;
    height                : 20px;
    border-left           : 2px solid #4c6fff;
}

#navigation-message-icon {
    color                : #4c6fff;
    margin-left          : 7px;
}

.message-count {
    float                 : right;
    width                 : 35px;
    height                : 20px;
    margin                : 0px;
    margin-left           : 20px;
    border-radius         : 10px 10px 10px 10px;
    text-align            : center ;
    font-weight           : 800;
    font-family           : 'Times New Roman', Times, serif;
    background-color      : #e1e8ff;
    
}

.separator {
    float                  : left;
    width                  : 140px;
    margin-top             : 40px;
    margin-left            : 30px;
    margin-right           : 30px;
    border                 : 1px solid #edf2f7;
    background-color       : #edf2f7 ;

}

.navigation-notifications {
    margin-right         : 0px;
}

.notification-count {
    float                 : right;
    width                 : 40px;
    height                : 20px;
    margin                : 0px;
    margin-left           : 10px;
    border-radius         : 10px 10px 10px 10px;
    text-align            : center ;
    font-weight           : 800;
    font-family           : 'Times New Roman', Times, serif;
    background-color      : #ffe6e4;
    color                 : #f26b6d;
}

.right-container {
    float             : right;
    width             : 80%;
    height            : 770px;
    margin            : 0px;
    padding           : 0px;
    background-color  : #e4eaf4;
}

.right-wrapper {
    float              : right;
    width              : 1163px;
    height             : 710px;
    margin             : 0px;
    margin-top         : 20px;
    margin-right       : 52px;
    padding            : 0px;
    border-radius      : 0px 25px 25px 0px;
    background-color   : #f7fafc;
}

.top-sidebar {
    float                  : right;
    width                  : 1163px;
    height                 : 100px;
    margin                 : 0px;
    padding                : 0px;
    border-radius          : 0px 25px 0px 0px;
    box-shadow             :10px 10px 40px 10px #edf2f7;
    background-color       : white;
}
.navigation-top-sidebar-title {
    float                  : left;
    margin-top             : 30px;
    margin-left            : 30px;
    margin-bottom          : 0px;
    font-size              : 22px;
    font-family            : Arial, Helvetica, sans-serif;

}

.navigation-top-sidebar-edit-create-buttons {
    float                    : right;
    margin-right             : 30px;
    margin-top               : 27px;
    font-family              : Arial, Helvetica, sans-serif;
}

.edit-button {
    display                  : inline;
    width                    : 70px;
    height                   : 30px;
    margin-right             : 4px;
    border                   : 1px  solid #edf2f7;
    border-radius            : 7px 7px 7px 7px;
    background-color         : white;
    
}

.create-button {
    display                  : inline;
    width                    : 100px;
    height                   : 30px;
    border                   : 1px  solid #4c6fff;
    border-radius            : 7px 7px 7px 7px;
    background-color         : #4c6fff;
    color                    : white;
}

.top-sidebar-categories {
    margin                   : 0px;
    margin-left              : 30px;
    padding-top              : 65px;
}

.bold-overview-category {
    font-weight               : 600;
}

.users-category, .settings-category {
    font-weight                : 300;
    color                      : #718096;
}

.navigation-top-sidebar-selected-category {
    float                  : left;
    width                  : 51px;
    margin-top             : 15px;
    margin-left            : 29px;
    margin-right           : 30px;
    border                 : 0.2px solid #4c6fff;
    background-color       : #4c6fff ;
}

.security-container {
    float                 : left;
    margin-left           : 0px;
}

.authentication-container {
    width                  : 830px;
    height                 : 283px;
    margin                 : 0px;
    margin-top             : 22px;
    margin-left            : 3%;
    padding                : 0px;
    border-radius          : 10px 10px 10px 10px;
    box-shadow             : 2px 2px 5px #dfe3e9;
    background-color       : white;
}

.authentication-type {
    margin                 : 0px;
    padding-top            : 15px;
    padding-left           : 20px;
    font-size              : 18px;
    font-family            : Arial, Helvetica, sans-serif ;
}

.authentication-description-container {
    margin                 : 0px;
}

.authentication-description {
    float                  : left;
    margin                 : 0px;
    margin-bottom          : 17px;
    padding-top            : 15px;
    padding-left           : 20px;
    font-size              : 14px;
    font-family            : Arial, Helvetica, sans-serif ;
    color                  : #516172;
}

.enable-button {
    float                   : right;
    width                   : 100px;
    height                  : 40px;
    margin-left             : 50px;
    margin-right            : 20px;
    padding-top             : 5px;
    text-align              : center;
    border                  : 0px;
    border-radius           : 5px;
    color                   : white;
    background-color        : #4c6fff;
}

.authentication-separator {
    width                : 780px;
    margin-top           : 11px;
    margin-bottom        : 0px;
    border               : 1px solid #eff3f8;
    color                : #eff3f8;
}

.authentication-app {
    margin              : 0px;
    float               : left;
}

.authentication-option-title {
    float               : left;
    margin              : 0px;
    margin-bottom       : 2px;
    margin-left         : 23px;
    font-size           : 14px;
    font-family         : Arial, Helvetica, sans-serif;
}

.authentication-setup-button {
    float                   : right;
    width                   : 90px;
    height                  : 34px;
    margin-left             : 50px;
    margin-right            : 20px;
    padding-top             : 5px;   
    border-radius           : 5px;
    text-align              : center;
    font-family             : Arial, Helvetica, sans-serif;
    font-weight             : 600;
    border                  : 1px solid #eff0f3;
    background-color        : white;
}

.authentication-option-description {
    margin-left         : 23px; 
    margin-top          : 36px;
    margin-bottom       : 6px;
    font-size           : 12px;
    font-family         : Arial, Helvetica, sans-serif;
    color               : #516172 ;
}

.password-container {
    width                  : 830px;
    height                 : 283px;
    margin                 : 0px;
    margin-top             : 22px;
    margin-left            : 3%;
    padding                : 0px;
    border-radius          : 10px 10px 0px 0px;
    box-shadow             : 2px 2px 5px #dfe3e9;
    background-color       : white;
}

.password-text {
  float            : left;
}

.password-section-title {
    float                  : left;
    margin                 : 0px;
    padding-top            : 15px;
    padding-left           : 20px;
    font-size              : 18px;
    font-family            : Arial, Helvetica, sans-serif ;
}

.password-description {
    margin                : 0px;
    max-width             : 380px;
    margin-left           : 20px;
    padding-top           : 40px;
    font-size             : 14px;
    line-height           : 1.5;
    font-family           : Arial, Helvetica, sans-serif;
    color                 : #516172 ;
}

.password-rules-container {
    float                 : right;
    width                 : 250px;
    height                : 230px;
    margin-top            : 25px;
    margin-right          : 25px;
    border-radius         : 20px;
    font-family           : Arial, Helvetica, sans-serif;
    background-color      : #e4ecf7;

}

.password-rules-title {
    margin-top           : 20px;
    margin-left          : 20px;
    font-size            : 14px;
}

.password-rules {
    margin-top           : 30px;
    padding-left         : 33px;
    font-size            : 12px;
}

.password-rules li {
    padding-bottom : 3px;
}

.password-rules-description {
    width                : 200px;
    margin-top           : 10px;
    margin-left          : 20px;
    margin-right         : 34px;
    font-size            : 12px;
}

.password-change {
    float                : left;
    margin-top           : 15px;
    margin-left          : 23px;
}

.password-label {
  margin                 : 0px;
}

.password-input {
    width                : 460px;
    height               : 20px;
    margin-left          : 5px;
    margin-top           : 5px;
    margin-bottom        : 5px;
    padding-left         : 14px;
    box-shadow           : 10px 20px 70px 5px #ebebed;
    border               : 0px;
    border-radius        : 4px;
}



.right-sidebar {
    float                  : right;
    width                  : 270px;
    height                 : 500px;
    margin                 : 0px;
    margin-right           : 20px;
    padding                : 0px;
    margin-top             : 25px;
    border-radius          : 10px 10px 10px 10px;
    background-color       : white;
}

.logo-container {
    float                   : left;
    width                   : 50px;
    height                  : 50px;
    margin-left             : 23px;
    text-align              : center;
    border-radius           : 50%;
    background-color        : #ff92ae;
}

#laptop-icon {
    margin-top               : 15px;
    color                    : white;
}

.right-sidebar-title {
    margin-bottom             : 3px;
    margin-left               : 27px;
    padding-top               : 64px;
    font-family               : Arial, Helvetica, sans-serif;
}

.right-sidebar-description {
    margin                    : 0px;
    margin-left               : 27px;
    font-size                 : 12px;
    font-family               : Arial, Helvetica, sans-serif;
    color                     : #536474;
}

.sign-out-button {
    width               : 150px;
    height              : 30px;
    margin-top          : 18px;
    margin-left         : 27px;
    font-size           : 10px;
    text-align          : center;
    border-radius       : 6px 6px 6px 6px;
    color               : white;
    border              : 0px;
    background-color    : #4c6fff;
}

.devices-separator {
    width                : 200px;
    margin-top           : 3px;
    margin-bottom        : 0px;
    border               : 0.5px solid #eff3f8;
    color                : #eff3f8;
}

.type-of-device {
    float                  : left;
    margin-left            : 20px;
}

.divice-model {
    float                  : left;
    margin                 : 0px;
    margin-left            : 12px;
    margin-top             : 14px;
    font-size              : 10px;
    font-family            : Arial, Helvetica, sans-serif;
}

#ellipsis-icon {
    float                  : right;
    margin-right           : 26px;
    font-size              : 14px;  
}

.divice-location{
    margin                  : 0px;
    margin-top              : 27px;
    padding-left            : 42px;
    font-size               : 8px;
    font-family             : Arial, Helvetica, sans-serif;
    color                   : #8290a3;
}

.help-button {
    width                  : 230px;
    height                 : 30px;
    margin-top             : 32px;
    margin-left            : 20px;
    border                 : 0px;
    border-radius          : 6px 6px 6px 6px;
    background-color       : #e4ecf7;
}