body {
    margin-left      : 20%;
    margin-top       : 5%;
    background-color : #cbd2d9;
}

button {
    display          : inline-block;
    height           : 33px;
    width            : 86px;
    margin-right     : 29px;
    padding          : 0px;
    border           : 0px;
    border-radius    : 5px;
    color            : white;
    background-color : #616e7c;
}

h4 {
    font-family      : 'Times New Roman', Times, serif;
}

.wrapper {
    width            : 879px;
    height           : 530px;
    margin           :26px 41px 19px 24px;
    border-radius    : 22px;
    background-color : white;
    box-shadow       : #b6bdc4 0px 2px 4px 0px;
}

.offer-search-results {
    padding-top      : 15px;
}

.title {
    display         : inline;
    margin-top      : 20px;
    padding-left    : 30px;
    margin-right    : 427px;
    line-height     : 23px;
    color           : #303942;
}

.offer-search-results-exit-icon {
    display      : inline-block;
    margin-bottom: 16px;
    margin-left  : 199px;
}

#exit-icon {
    width           : 28px;
    height          : 28px;
    margin-right    : 27px;
    color           : #606d7b;
}

.description {
    display      : inline-block;
    margin-top   : 0px;
    margin-bottom: 0px;
    padding-left : 30px;
    color        : #9fa7af;
}

.description-bolded {

    display      : inline;
    color        : #868f9a;
}

.offer-search-personal {
    padding-top     : 12px;
}

.offer-search-personal-button {
    display      : inline-block;
    margin-left  : 20px;
}

.separator {
    width            : 810px;
    margin-top       : 12px;
    color            : #e2e6ea;
}

.title-login {
    display       : inline;
    margin-top    : 20px;
    margin-right  : 555px;
    padding-left  : 30px;
    line-height   : 19px;
    color         : #303942;
}

.offer-search-button {
    display      : inline-block;
    margin-left  : 0px;
}

.dashboard-title {
    display      : inline;
    margin-top   : 20px;
    padding-left : 30px;
    margin-right : 427px;
    color        : #303942;
}

.dashboard-button {
    display      : inline-block;
    margin-left  : 0px;
}

.offer-title {
    display        : inline;
    margin-top     : 20px;
    margin-right   : 580px;
    padding-left   : 30px;
    color          : #303942;
}