body {

    margin          : 0px;
    padding         : 0px;
    background-color: #f1f4f8;
}

.wrapper {
    width            : 800px;
    height           : 600px;
    margin-left      : 10%;
}

.container {
    width           : 321px;
    height          : 416px;
    background-color: white;
    margin-top      : 77px;
    margin-left     : 61px;
    box-shadow      : #e9ecf0 0px 2px 4px 0px;
}

#card-left {
    float            : left;
    margin-left      : 64.5px;
}

#card-right {
    float             : right;
    margin-right      : 64.5px;
    margin-left       : 0px;
}

.header {
    margin-right    : 75px;
    margin-left     : 35px;
    padding-top     : 53px;
    margin-bottom   : 24px;
    font-size       : 24px;

}
hr {
    width           : 270px;
    border          : 0.5px solid #eeeeee ;
}

.city-date {
    margin-left     : 35px;
}

p {
    margin-top      : 10px;
    margin-bottom   : 10px;
}

.city {
    color            : #b5b5b5;
    font-family      : Arial, Helvetica, sans-serif;
    font-style       : italic
}

.date {
    font-family      : Arial, Helvetica, sans-serif;
    font-style       : italic;
    font-weight      : 500;
    letter-spacing   : 2px;
}

.results {
  margin-top         : 29px;
}

li {
    color            : #58cad8;
    display          : inline-block;
    width            : 20px;
    height            : 2px;
}

#circle {
    color            : #58cad8;
    font-size        : 7px;
    display          : inline-block;
    margin-left      : 39px;
}

.count-accept { 
    color            : #58cad8;
    font-family      :Impact, 'Arial Narrow Bold', sans-serif;
    font-weight      : 600px;
    letter-spacing   : 1px;
}

.count-pending { 
    color            : #ff8000;
    font-family      :Impact, 'Arial Narrow Bold', sans-serif;
    font-weight      : 600px;
    letter-spacing   : 1px;
}

#circle-pending {
    color            : #ff8000;
    font-size        : 7px;
    display          : inline-block;
    margin-left      : 39px;
}

.count-completed { 
    color            : #58cad8;
    font-family      :Impact, 'Arial Narrow Bold', sans-serif;
    font-weight      : 600px; 
    letter-spacing   : 1px;
}

.status {
    width            : 63px;
    color            : #868695;
    margin-left      : 33px;
}

.statistic {
    display          : inline-block;
}

.upcomming {
    margin-left      : 36px;
    color            :#c9c9c9;
}

.user{
    border-radius     : 50%;
    height            : 30px;
    width             : 30px;
}

ul { 
 display              : inline;
}

.users-count {
    display            : inline;
    color              : #62cdda;
    margin-left        : 20px;
    font-family        :Impact, 'Arial Narrow Bold', sans-serif;
    letter-spacing     : 1px;
}
