body {

    margin           : 0px;
    padding          : 0px;
    margin-left      : 25%;
    margin-top       : 5%;
    background-color : #f1f4f8;

}

p {
    margin-top      : 10px;
    margin-bottom   : 10px;
}

ul { 
    display              : inline;
}

li {
    display          : inline-block;
    width            : 20px;
    height           : 2px;
    color            : #58cad8;
}

.wrapper {
    width            : 800px;
    height           : 600px;
}

#left-card {
    float            : left;
    margin-left      : 64.5px;
}

.container {
    width            : 321px;
    height           : 416px;
    margin-top       : 77px;
    margin-left      : 61px;
    background-color : white;
    box-shadow       : #e9ecf0 0px 2px 4px 0px;
}

.title {
    margin-right    : 75px;
    margin-left     : 35px;
    margin-bottom   : 24px;
    padding-top     : 53px;
    font-size       : 24px;
}

.city-date {
    margin-left     : 35px;
}

.city {
    font-family      : Arial, Helvetica, sans-serif;
    font-style       : italic;
    color            : #b5b5b5;
}

.date {
    font-weight      : 500;
    letter-spacing   : 2px;
    font-family      : Arial, Helvetica, sans-serif;
    font-style       : italic;
}

.separator {
    width           : 270px;
    border          : 0.5px solid #eeeeee ;
}

.status-users-container {
    margin-top         : 29px;
  }

.statistic {
    display          : inline-block;
}

.status-accept-count { 
    font-weight      : 600px;
    letter-spacing   : 1px;
    color            : #58cad8;
    font-family      : Impact, 'Arial Narrow Bold', sans-serif;
}

#circle-icon-accept {
    display          : inline-block;
    margin-left      : 39px;
    font-size        : 7px;
    color            : #58cad8;
}

.status {
    width            : 63px;
    margin-left      : 33px;
    color            : #868695;
}

.status-pending-count { 
    font-weight      : 600px;
    letter-spacing   : 1px;
    color            : #ff8000;
    font-family      : Impact, 'Arial Narrow Bold', sans-serif;
}

#circle-icon-pending {
    display          : inline-block;
    margin-left      : 39px;
    font-size        : 7px;
    color            : #ff8000;
}

.status-completed-count { 
    font-weight      : 600px; 
    letter-spacing   : 1px;
    font-family      : Impact, 'Arial Narrow Bold', sans-serif;
    color            : #58cad8;
}

#circle-icon-completed {
    display          : inline-block;
    margin-left      : 39px;
    font-size        : 7px;
    color            : #58cad8;
}

.upcomming {
    margin-left      : 36px;
    color            : #c9c9c9;
}

.upcomming-user{
    border-radius     : 50%;
    height            : 30px;
    width             : 30px;
}

.upcomming-users-count {
    display            : inline;
    margin-left        : 20px;
    letter-spacing     : 1px;
    font-family        : Impact, 'Arial Narrow Bold', sans-serif;
    color              : #62cdda;
}


#right-card {
    margin-right      : 64.5px;
    margin-left       : 0px;
    float             : right;
}








